<app-nav-bar></app-nav-bar>
<div class="primerContenedor">

  <div class="contenedorGlobo">
    <h1>YOU’R GREAT IDEA</h1>
  </div>

  <div class="contenedorTexto">
    <h1>PROCESO</h1>
    <h2>Reunión creativa /</h2>
    <h2>Diseño de cliente(s) /</h2>
    <h2>Branding /</h2>
    <h2>Diseño web</h2>
  </div>


</div>



<div class="segundoContenedor">

  <button type="button" class="btn botonHablemos">HABLEMOS</button>
  <h1>Pongámonos en contacto y cuéntame acerca de esa gran idea que tienes.</h1>

</div>
