<div class="menuHome">
  <a class="btn  m-2" (click)="router('Home')">
    <h1>Home</h1>
  </a>
</div>
<app-nav-bar></app-nav-bar>


<div class="contenedormobile">

  <div class="primerContenedor">
    <div class="contenedorGlobo">
      <h1>{{"proceso.buenaIdea" | translate}}</h1>
    </div>
    <div class="contenedorTexto">
      <h1>{{"proceso.proceso" | translate}}</h1>
      <h2>{{"proceso.reunionCreativa" | translate}}</h2>
      <h2>{{"proceso.disenoCliente" | translate}}</h2>
      <h2>{{"proceso.branding" | translate}}</h2>
      <h2>{{"proceso.disenoWeb" | translate}}</h2>
    </div>
  </div>
  <div class="segundoContenedor">
    <button type="button" class="btn botonHablemos"
      (click)="router('IniciarProyecto')">{{"proceso.hablemos" | translate}}</button>
    <h1>{{"proceso.pongamonosContacto" | translate}}</h1>
  </div>
  <div
    [ngClass]="{'esTercerContenedor': _IdiomaService.getIdioma() == 'es', 'enTercerContenedor': _IdiomaService.getIdioma() == 'en'}"
    class="tercerContenedor">
    <p> {{"proceso.reunionCreativa1" | translate}} <span>{{"proceso.reunionCreativa2" | translate}}</span></p>
    <h1>{{"proceso.reunionCreativa3" | translate}}</h1>
    <p>{{"proceso.reunionCreativa4" | translate}} <span>{{"proceso.reunionCreativa5" | translate}}</span></p>
    <img src="../../../assets/proceso/postIt.png" alt="">
  </div>
  <div
    [ngClass]="{'esCuartoContenedor': _IdiomaService.getIdioma() == 'es', 'enCuartoContenedor': _IdiomaService.getIdioma() == 'en'}"
    class="cuartoContenedor">
    <p>{{"proceso.analisisDeCliente1" | translate}} <span>{{"proceso.analisisDeCliente2" | translate}} </span></p>
    <p>{{"proceso.analisisDeCliente3" | translate}} </p>
  </div>
  <div
    [ngClass]="{'esQuintoContenedor': _IdiomaService.getIdioma() == 'es', 'enQuintoContenedor': _IdiomaService.getIdioma() == 'en'}"
    class="quintoContenedor">
    <h1>{{"proceso.disenoYDesarrollo1" | translate}} </h1>
    <p>{{"proceso.disenoYDesarrollo2" | translate}} </p>
    <h1 class="beforeH1">{{"proceso.disenoYDesarrollo3" | translate}}</h1>
    <p>{{"proceso.disenoYDesarrollo4" | translate}} </p>
  </div>
  <div class="sextoContenedor">
    <img src="../../../assets/proceso/muneco.png" alt="">
    <button type="button" name="" id="butonStartPro" (click)="router('IniciarProyecto')"
      class="btn btn-primary">{{"proceso.iniciarproyecto" | translate}}</button>
  </div>

</div>


<div class="contenedordesktop">

  <div class="div-contenedor">
    <div class="contenedorUnoDesk">
      <h1>{{"proceso.buenaIdea" | translate}}</h1>
    </div>

    <div class="textoTitulo">
      <h1>{{"proceso.proceso" | translate}}</h1>
      <p>{{"proceso.reunionCreativa" | translate}} {{"proceso.disenoCliente" | translate}}
        {{"proceso.branding" | translate}} {{"proceso.disenoWeb" | translate}}</p>
    </div>

  </div>

  <div
    [ngClass]="{'esDosContenedor': _IdiomaService.getIdioma() == 'es', 'enDosContenedor': _IdiomaService.getIdioma() == 'en'}"
    class="contenedorDosDesk">

    <div class="ContenedorHablemos">
      <div class="button">
        <h1>{{"proceso.hablemos" | translate}}</h1>
      </div>
      <div class="textoDownButton">
        <p>{{"proceso.pongamonosContacto" | translate}}</p>
      </div>
    </div>

    <div
      [ngClass]="{'esContenedorReunionCreativa': _IdiomaService.getIdioma() == 'es', 'enContenedorReunionCreativa': _IdiomaService.getIdioma() == 'en'}"
      class="ContenedorReunionCreativa">
      <p>{{"proceso.reunionCreativa1" | translate}}<span>{{"proceso.reunionCreativa2" | translate}}</span></p>
      <h1>{{"proceso.reunionCreativa3" | translate}}</h1>
      <p>{{"proceso.reunionCreativa4" | translate}} {{"proceso.reunionCreativa5" | translate}}</p>
    </div>

    <div class="ContenedorAnalisisCLiente">
      <p>{{"proceso.analisisDeCliente1" | translate}} {{"proceso.analisisDeCliente2" | translate}}
        {{"proceso.analisisDeCliente3" | translate}} </p>
    </div>


  </div>

  <div
    [ngClass]="{'esTresContenedor': _IdiomaService.getIdioma() == 'es', 'enTresContenedor': _IdiomaService.getIdioma() == 'en'}"
    class="contenedorTresDesk">

    <div class="ContenedorAnalisisDesarrollo">
      <h1>{{"proceso.disenoYDesarrollo1" | translate}}</h1>
      <p>{{"proceso.disenoYDesarrollo2" | translate}}</p>
      <h1>{{"proceso.disenoYDesarrollo3" | translate}}</h1>
      <p>{{"proceso.disenoYDesarrollo4" | translate}}</p>
    </div>

  </div>


  <button type="button" name="" id="butonStartProDesk" (click)="router('IniciarProyecto')"
    class="btn btn-primary">{{"proceso.iniciarproyecto" | translate}}</button>


</div>
