.menuHome {
  visibility: hidden;
  display: none;
}

/* .menuHome {
  visibility: hidden;
  display: none;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-260px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.scene {
  border: 1px solid #CCC;
  margin: 40px 0;
  position: relative;
  width: 210px;
  height: 140px;
  margin: 80px auto;
  perspective: 1000px;
}

.carouselItem {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}

/* .Zoom-4 {
  height: 24vw;
}

.noZoom {
  position: relative;
  top: -17%;
} 

.next {
  position: absolute;
  width: 6vw;
  height: 24vw;
}

.before {
  position: absolute;
  width: 6vw;
  height: 24vw;
}


.slick-slider {
  width: 90%;
  margin: auto;
  background: #000;
}

.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}


.carouselItem:nth-child(1) {
  transform: rotateY(51deg) translateZ(260px);
}

.carouselItem:nth-child(2) {
  transform: rotateY(102deg) translateZ(260px);
}

.carouselItem:nth-child(3) {
  transform: rotateY(153deg) translateZ(260px);
}

.carouselItem:nth-child(4) {
  transform: rotateY(204deg) translateZ(260px);
}

.carouselItem:nth-child(5) {
  transform: rotateY(255deg) translateZ(260px);
}

.carouselItem:nth-child(6) {
  transform: rotateY(206deg) translateZ(260px);
}

.carouselItem:nth-child(7) {
  transform: rotateY(357deg) translateZ(260px);
}

*/

#app {
  position: relative;
  height: calc(100vh - 78px);
  width: 100vw;
}

.nodosIntermedios {
  height: 24.2vw;
  width: 13vw;
  top: 65px;
}

.nodoCentral {
  top: 37px;
  width: 18.8vw;
  height: 33.4vw;
}


#carousel {
  position: relative;
  height: 30vw;
  width: 88vw;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background: url("../../../assets/Proyectos/FondoCelulares.png")
}



.contenedorCelulares {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

div.item img {
  position: relative;
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  line-height: 30px;
  margin-top: 85px;
  z-index: 1000;
}

.arrow-right {
  left: 780px;
}

.item {
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}


.level-3 {
  line-height: 24.2vw;
  left: 5vw;
  z-index: 0;
}


.level-2 {
  line-height: 24.2vw;
  left: 15vw;
  z-index: +10;
}

.level-1 {
  line-height: 24.2vw;
  left: 25vw;
  z-index: +20;
}

.level0 {
  line-height: 288px;
  left: 35vw;
  z-index: +30;
}

.level1 {
  line-height: 24.2vw;
  left: 51vw;
  z-index: +20;
}

.level2 {
  line-height: 24.2vw;
  left: 61vw;
  z-index: +10;
}

.level3 {
  line-height: 24.2vw;
  left: 71vw;
  z-index: 0;
}
