.content-forma {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100vw 60vh;
  height: 60vh;
  background: url(../../../assets/IniciarProyecto/fondo.png);
}

.contornoFormulario {
  width: 15vw;
  left: 77%;
  position: relative;
}
