<app-nav-bar></app-nav-bar>
<div class="content-forma">

  <div class="datosContacto">

    <h1></h1>
    <h1></h1>
    <h1></h1>


  </div>

  <div class="textoInferiores">

    <h1></h1>
    <h1></h1>
    <h1></h1>

  </div>


  <div class="formulario">
    <div class="contornoFormulario">
      <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <label for=""></label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <label for=""></label>
        <textarea class="form-control" name="" id="" rows="3"></textarea>
        <button type="button" class="btn btn-primary"></button>
      </div>
    </div>

  </div>

</div>
