<div class="menuHome">
  <a class="btn  m-2" (click)="router('Home')">
    <h1>Home</h1>
  </a>
</div>
<app-nav-bar></app-nav-bar>
<div class="content-forma" style="background-size: 100% 100%;">

  <div class="datos-contenedor">
    <div class="datosContacto">

      <div class="contenedorDatosContacto">
        <h1>{{'iniciarProyecto.numero' | translate}}</h1>
        <h1>{{'iniciarProyecto.correo' | translate}}</h1>
        <h1>{{'iniciarProyecto.ubicacion' | translate}}</h1>
      </div>



    </div>

    <div class="textoInferiores">

      <div class="contenedorTextoInferiores">
        <h1>{{'iniciarProyecto.iniciarProyecto' | translate}}</h1>
        <h1>{{'iniciarProyecto.contacto' | translate}}</h1>
        <h1>{{'iniciarProyecto.infoContacto' | translate}}</h1>
      </div>

    </div>

  </div>



  <div class="formulario">

    <div class="contenedorMejorOpcion">
      <p>{{'iniciarProyecto.mejorOpcion' | translate}}</p>
    </div>

    <div class="contornoFormulario">

      <div class="contacto">
        <p>{{'iniciarProyecto.contacto' | translate}}</p>
      </div>

      <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control botonForm" id="inputNombre" aria-describedby="helpId"
          placeholder="{{'iniciarProyecto.nombre' | translate}}" [(ngModel)]="form.nombre">
        <label for=""></label>
        <input type="email" class="form-control botonForm" name="" id="inputEmail" aria-describedby="helpId"
          placeholder="{{'iniciarProyecto.e-mail' | translate}}" [(ngModel)]="form.email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 3}$">
        <label for=""></label>
        <textarea class="form-control textAreaForm" name="" id="inputMensaje" rows="3"
          placeholder="{{'iniciarProyecto.queCrear' | translate}}" [(ngModel)]="form.mensaje"></textarea>
        <button (click)="sendMail()" type="button"
          class="btn btn-primary botonForm">{{'iniciarProyecto.enviar' | translate}}</button>
      </div>
    </div>

  </div>

  <div class="mobileTexto upTexto">
    <h1 class="firstH1">{{'iniciarProyecto.iniciarProyecto' | translate}}</h1>
    <div class="contenedorDatosContacto">
      <h1>{{'iniciarProyecto.numero' | translate}}</h1>
      <h1>{{'iniciarProyecto.correo' | translate}}</h1>
      <h1>{{'iniciarProyecto.ubicacion' | translate}}</h1>
    </div>
  </div>



</div>
<div class="contenedorRow">
  <div class="row">
    <div class="col">
      <button type="button"
        class="btn btn-primary botonForm botonPago">{{'iniciarProyecto.realizarPago' | translate}}</button>
    </div>
    <div class="col">
      <img class="tituloNuclear" src="../../../assets/IniciarProyecto/tituloNuclear.png" alt="">
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div class="mobileTexto downTexto">

  <h1>{{'iniciarProyecto.infoContacto' | translate}}</h1>

</div>
