@font-face {
  font-family: brandon-black;
  src: url(../../../../assets/fonts/brandon-grotesque-black.otf) format("opentype");
}

@font-face {
  font-family: brandon-light;
  src: url(../../../../assets/fonts/brandon-grotesque-light.otf) format("opentype");
}


.contenedortitulo {
  position: relative;
  height: 60%;
  top: 30%;
}

.contenedortitulo p.titulo {
  font-size: 3vw;
  line-height: 2.5vw;
  color: rgb(166, 175, 186);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
}

.contenedortitulo p.subEnxabezado {
  margin-top: 0.5vw;
  width: 35vw;
  font-size: 1.3vw;
  line-height: 1.6vw;
  color: rgb(166, 175, 186);
  box-sizing: border-box;
  padding: 0;
  font-family: 'brandon-light', 'arial', sans-serif;
}

/* .contenedortitulo .subtitulos {
  display: inline-block;
} */

.contenedortitulo .subtitulos-div .subtitulos p {
  color: rgb(134, 134, 134);
  font-size: 1.2vw;
  line-height: 1.4vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-light', 'arial', sans-serif;
}

.contenedortitulo .subtitulos-div .subtitulos p span {
  color: rgb(255, 184, 0) !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
}



.subtitulos {
  width: 35vw;
}

.primerSub {
  margin-top: 0.5vw;
}

/* @media (min-width: 1000px) {
  .contenedortitulo {
    width: 350px;
  }
} */

.botonBack {
  left: 48%;
  position: absolute;
  width: 45px;
}

.celular {
  width: 100%;
}

.imgCelular {
  width: 48vw;
  height: 80%;
  top: 10.2vw;
  position: absolute;
}

.row {
  height: 100%;
  width: 100%
}

@media only screen and (max-width: 425px) {


  .row {
    height: 90vh;
    width: 100%;
  }

  .contenedorCelular {
    position: relative;
    bottom: -42vh;
    width: 100vw;
    height: 51vh;
  }

  .imgCelular {
    width: 105vw;
    height: 51vh;
    top: -9.8vw;
    position: absolute;
    overflow-y: visible;
    z-index: +80;
    left: -26vw;
  }

  .contenedortitulo {
    position: absolute;
    top: 107vh;
    width: 106vw;
    height: 41vh;
    left: 2vw;
  }

  .contenedortitulo p.titulo {
    font-size: 12vw;
    line-height: 9.5vw;
  }

  .contenedortitulo p.subEnxabezado {
    width: 47vw;
    font-size: 4vw;
    line-height: 4vw;
  }

  .subtitulos-div {

    display: inline-block;
    width: 39vw;
    position: absolute;
    right: 4vh;
    top: 39vw;
  }

  .contenedortitulo .subtitulos-div .subtitulos p {
    font-size: 3.2vw;
    line-height: 3.2vw;

  }

  .contenedortitulo .subtitulos-div .subtitulos p span {
    font-size: 3vw;
  }

  .subtitulos {
    width: 39vw;
  }

}
