<img class="botonBack" src="../../../assets/especificacion/botonBackMenu.png" alt="boton">
<div class="row">

  <div class="contenedorCelular col">
    <div class="celular">
      <img class="imgCelular" src="../../../assets/especificacion/celular.png" alt="celular">
    </div>
  </div>

  <div class="contenedortitulo col">
    <p class="titulo">
      {{'especificaciones.titulo.1' | translate}} <br> {{'especificaciones.titulo.2' | translate}} <br>
      {{'especificaciones.titulo.3' | translate}}
    </p>
    <p class="subEnxabezado">
      {{'especificaciones.textoSubencabezado' | translate}}
    </p>



    <div class="subtitulos-div">

      <div class="subtitulos primerSub">
        <p> <span>{{'especificaciones.subtitulos.branding' | translate}} </span>
          {{'especificaciones.subTextos.branding' | translate}} </p>
      </div>

      <div class="subtitulos">
        <p> <span>{{'especificaciones.subtitulos.paginasWeb' | translate}} </span>
          {{'especificaciones.subTextos.paginasWeb' | translate}} </p>
      </div>

      <div class="subtitulos">
        <p> <span>{{'especificaciones.subtitulos.procesosCreativos' | translate}}</span>
          {{'especificaciones.subTextos.procesosCreativos' | translate}} </p>
      </div>

      <div class="subtitulos">
        <p> <span>{{'especificaciones.subtitulos.analisisDeClientes' | translate}}</span>
          {{'especificaciones.subTextos.analisisDeClientes' | translate}} </p>
      </div>
    </div>


  </div>

</div>
