@font-face {
  font-family: brandon-light;
  src: url(../../../assets/fonts/brandon-grotesque-light.otf) format("opentype");
}

@font-face {
  font-family: brandon-black;
  src: url(../../../assets/fonts/brandon-grotesque-black.otf) format("opentype");
}

p {
  position: absolute;
  color: white;
  top: 1vw;
  left: 2vw;
  font-family: 'brandon-light', 'arial', sans-serif;
}

p span {

  font-family: 'brandon-black', 'arial', sans-serif;
  color: white;
}
