<div class="contenedorImgs">
  <img class="fondoNubes" src="../../../../assets/Home/nubes.png" alt="">
  <!-- <img class="fondoIMG img-responsive" src="../../../../assets/Home/CAPA-2-ARBOL.gif" alt=""> -->
  <span parallax [config]="{initialValue: -20, ratio: .5}" class="ArbolIMG-desktop">

  </span>

  <span parallax [config]="{initialValue: 120, ratio: .5}"
    [ngClass]="{'arbolESP': _IdiomaService.getIdioma() == 'es', 'arbolENG': _IdiomaService.getIdioma() == 'en'}"
    class="ArbolIMG-mobile">

  </span>


  <img class="mobile-budget" src="../../../../assets/Home/budget.png" alt="">
  <img class="fondoNubes2" src="../../../../assets/Home/nubes.png" alt="">

</div>
