<div class="contenedorSinFooter">
  <div class="menuHome">
    <a class="btn  m-2" (click)="router('Home')">
      <h1>Home</h1>
    </a>
  </div>
  <app-nav-bar></app-nav-bar>
  <div class="row containerImgMune">
    <div class="col">

      <div class="contenedorImg">
        <img class="cuadroImg" src="../../../assets/creador/cuadro.png" alt="">
        <div class="tituloWeb-mobile">
          <h1>{{'creador.disenadorWeb1' | translate}}
          </h1>
          <h2>
            {{'creador.disenadorWeb2' | translate}}
          </h2>
          <img class="imagenMuneco-mobile" src="../../../assets/creador/Muñeco.png" alt="">

        </div>
        <h1 class="quienSoy">{{'creador.quienSoy' | translate}}</h1>
        <h1 class="nombre">{{'creador.nombre' | translate}}</h1>
      </div>

    </div>
    <div class="col-8">
      <img class="imagenMuneco" src="../../../assets/creador/Muñeco.png" alt="">
      <div class="contenedor">
        <p class="tituloWeb"><span>{{'creador.disenadorWeb1' | translate}}</span>
          {{'creador.disenadorWeb2' | translate}}
        </p>
        <p class="tituloWeb2">{{'creador.disenadorWeb3' | translate}}</p>
        <div class="tituloWeb3">
          <h1>{{'creador.habilidades' | translate}}</h1>
          <p>{{'creador.habilidadesContent' | translate}}</p>
          <h1>{{'creador.contactos' | translate}}</h1>
          <p>{{'creador.contactosContent' | translate}}</p>
        </div>

        <div class="tituloWeb4">
          <p><span>{{'creador.illustrator1' | translate}}</span>{{'creador.illustrator2' | translate}}</p>
          <p><span>{{'creador.photoshop1' | translate}}</span>{{'creador.photoshop2' | translate}}</p>
          <p><span>{{'creador.effects1' | translate}}</span>{{'creador.effects2' | translate}}</p>
          <p><span>{{'creador.thinking1' | translate}}</span>{{'creador.thinking2' | translate}}</p>
        </div>

      </div>


    </div>

    <div class="contenedorSociales">
      <a href="https://www.Behance.net/sbuenaventura"><img src="../../../assets/creador/logoBe.png" alt=""></a>
      <a href="https://www.vimeo.com/user53625067"><img src="../../../assets/creador/logoVimeo.png" alt=""></a>
      <a href="https://www.linkedin.com/in/sbuenaventura/"><img src="../../../assets/creador/logoLinkedin.png"
          alt=""></a>
    </div>

  </div>
  <div class="containerTvMobile">
    <div class="row tvMobile">
      <div class="col">
        <img class="tv" src="../../../assets/creador/tv.png" alt="">
      </div>
      <div class="col-8 botonesTexto">

        <div class="footerTexto">
          <p>{{'creador.nuclear' | translate}}</p>
          <p>{{'creador.esMarca' | translate}}</p>
        </div>

        <div class="col footerCol boton2">
          <input name="butonP" id="butonP" class="btn" type="button" value="{{'potencial.footer.proyecto' | translate}}"
            (click)="router('IniciarProyecto')">
        </div>


      </div>

    </div>
  </div>
</div>
