@font-face {
  font-family: brandon-black;
  src: url(../../../assets/fonts/brandon-grotesque-black.otf) format("opentype");
}

@font-face {
  font-family: brandon-light;
  src: url(../../../assets/fonts/brandon-grotesque-light.otf) format("opentype");
}



.row.tvMobile,
.row.tvMobile .col-4,
.row.tvMobile .col-8 {
  height: fit-content;

}



.containerImgMune {

  height: 23vw;
  margin-bottom: 2px;

}

.containerTvMobile {
  height: 13vw;
}

.menuHome {
  visibility: hidden;
  display: none;
}

.contenedorSinFooter {
  height: 94vh;
}


.tituloWeb span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
  font-size: 3vw;
}

.tituloWeb2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-light', 'arial', sans-serif;
  font-size: 1vw;
  margin-bottom: 1vw;
}

.tituloWeb3 {
  margin-bottom: 1vw;
}

.tituloWeb3 h1 {
  color: rgb(255, 184, 0);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-light', 'arial', sans-serif;
  font-size: 1vw;

}

.botonesTexto {
  bottom: -65%;

  width: 50vw;
  display: block;
  height: 28vw;

}

.tituloWeb3 p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-light', 'arial', sans-serif;
  font-size: 1vw;

}

.tituloWeb4 p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-light', 'arial', sans-serif;
  font-size: 1vw;
}

.tituloWeb4 p span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
  font-size: 1vw;
}

.contenedor {
  width: 51vw;
  position: relative;
  top: 21%;
}

.imagenMuneco {
  position: absolute;
  left: 0.4vw;
  width: 3.5vw;
  top: -4vw;
}

.cuadroImg {
  width: 100%;
  height: 100%;
}


.row.containerImgMune {
  margin-top: 9vh;
}



.tv {

  position: relative;
  width: 22vw;
  margin-left: 39%;
  height: 13vw;

}

.footer {
  display: block;
  position: absolute;
  height: 50px;
  background: black;
  width: 100%;
}


.footerCol.boton2 {
  top: -139%;
  position: absolute;

}


.footerCol.boton2 input {
  right: 15vw;
  position: absolute;
  background: url(../../../assets/potencial/boton.png);
  background-size: 18vw 5vw;
  background-position: top;
  border-radius: 5vw;
  text-align: -webkit-left;
  width: 14vw;
  background-repeat: no-repeat;

  font-family: 'brandon-black', 'arial', sans-serif;
  color: rgb(255, 255, 255) !important;
  font-size: 1.3vw;
  height: 3vw;


}



.footerTexto p:nth-child(1) {
  color: rgb(255, 184, 0);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
  font-size: 1vw
}

.footerTexto p:nth-child(2) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
  font-size: 1vw
}

.contenedorImg {
  position: relative;
  width: 19vw;
  margin-left: 48%;
  height: 21vw;

}


.contenedorImg h1 {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-black', 'arial', sans-serif;
  color: white;

}

.tituloWeb-mobile {
  display: none;
}

.contenedorImg .quienSoy {
  top: 1vw;
  left: 3vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'brandon-light', 'arial', sans-serif;
}


.contenedorImg .nombre {
  width: 4vw;
  bottom: 1vw;
  margin-left: 16%;
  font-size: 1.4vw;
  line-height: 90%;
}



@media only screen and (max-width: 425px) {

  :host ::ng-deep app-nav-bar .col-xs-4:nth-child(2) {
    display: none;
    visibility: hidden;
  }

  :host ::ng-deep app-nav-bar .col-xs-4:nth-child(1) {
    display: none;
    visibility: hidden;
  }

  :host ::ng-deep app-root containerRoter {
    height: auto;
  }

  .botonesTexto {
    display: inline-flex;
    bottom: 0%;
    left: 12vw;
    width: 53vw;
    top: -21vw;
    position: relative;
  }

  .footerTexto p:nth-child(1) {
    font-size: 5vw;
  }

  .footerTexto p:nth-child(2) {
    font-size: 3vw;
  }

  .footerTexto {
    margin-top: 14%;
    left: -75%;
  }


  .contenedorImg {
    position: relative;
    width: 39vh;
    display: block;
    height: 97vw;
    left: -21vh;
  }

  .row .col-4 {
    display: contents;
    width: 50vw;
    height: 28vw;
  }

  .contenedor {
    position: initial;
    width: 80vw;
    margin-left: 8vw;
    margin-top: 4vh;
  }

  .tituloWeb {
    display: none;
  }

  .tituloWeb-mobile {


    display: block;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 34vw;
    right: -28vw;
    }

  .tituloWeb-mobile h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'brandon-black', 'arial', sans-serif;
    color: black;
    line-height: 0px;
    font-size: 6vw;
  }

  .tituloWeb-mobile h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'brandon-light', 'arial', sans-serif;
    color: black;
    font-size: 6vw;
    line-height: 1.5;
  }

  .tituloWeb2,
  .tituloWeb3 p,
  .tituloWeb3 h1,
  .tituloWeb4 p,
  .tituloWeb4 p span {
    font-size: 3vw;
  }

  .imagenMuneco-mobile {
    transform: rotate(-90deg);
    bottom: 20%;
    right: 2vw;
    width: 15vw;
    position: absolute;
  }

  .imagenMuneco {
    display: none;
  }

  .row.tvMobile {
    height: 65vw;
    display: inherit;
  }

  .tv {
    margin-left: -4%;
    height: 41vw;
    width: 33vh;
    position: relative;
    top: 29vw;
  }

  .col.boton2 {
    right: 9vh;
    top: -4vh;
    width: 52vh;
  }

 


  .footerTexto p {
    font-size: 1rem;
  }

  .menuHome {
    position: absolute;
    top: 7vw;
    display: block;
    visibility: visible;
  }


  :host ::ng-deep app-nav-bar .menuHam {
    right: 11%;
  }

  :host ::ng-deep app-footer {
    margin-top: 15px;
  }

  .footerCol.boton2 {
    top: -12vw;
    position: absolute;
    width: 21vh;
    right: 0vh;
  }

  .footerCol.boton2 input {
    background-size: 60vw 19vw;
    background-position: top;
    border-radius: 5vw;
    text-align: -webkit-left;
    width: 53vw;
    background-repeat: no-repeat;
    font-family: 'brandon-black', 'arial', sans-serif;
    color: rgb(255, 255, 255) !important;
    font-size: 3.3vw;
    height: 12vw;
    right: -11%;
        position: relative;
  }

  .containerImgMune {
    width: 100vw;
    margin-bottom: 5vw;
  }

  .contenedorSinFooter {
    height: auto;
  }

  .containerTvMobile {
    overflow: hidden;
  }

  .contenedorImg .quienSoy {
    top: 4vw;
    left: 12vw;
  }

  .contenedorImg .nombre {
    width: 4vw;
    bottom: 4vw;
    margin-left: 16%;
    line-height: 90%;
    font-size: 5.9vw;
  }

  .containerImgMune,
  .containerTvMobile {
    height: fit-content;
  }
}


@media only screen and (max-width: 768px) and (min-width: 426px) {
  :host ::ng-deep app-nav-bar .col-xs-4:nth-child(2) {
    display: none;
    visibility: hidden;
  }

  :host ::ng-deep app-nav-bar .col-xs-4:nth-child(1) {
    display: none;
    visibility: hidden;
  }

  :host ::ng-deep app-root containerRoter {
    height: auto;
  }

  .botonesTexto {
    display: inline-flex;
    left: 50%;
  }

  .contenedorImg {
    position: relative;
    width: 75vw;
    display: block;
    height: 81vw;
    left: -47%;
  }

  .row .col-4 {
    display: contents;
    width: 50vw;
    height: 28vw;
  }

  .contenedorSinFooter{
    height: auto;
  }

  .contenedor {
    position: initial;
    width: 80vw;
    margin-left: 8vw;
    margin-top: 4vh;
  }

  .tituloWeb {
    display: none;
  }

  .tituloWeb-mobile {


    display: block;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 16vw;
    right: -16vw;

  }

  .tituloWeb-mobile h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'brandon-black', 'arial', sans-serif;
    color: black;
    line-height: 0px;
    font-size: 4vw;
  }

  .tituloWeb-mobile h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'brandon-light', 'arial', sans-serif;
    color: black;
    font-size: 3vw;
    line-height: 2;
  }

  .tituloWeb2,
  .tituloWeb3 p,
  .tituloWeb3 h1,
  .tituloWeb4 p,
  .tituloWeb4 p span {
    font-size: 3vw;
  }

  .imagenMuneco-mobile {
    transform: rotate(-90deg);
    bottom: 20%;
    right: 2vw;
    width: 15vw;
    position: absolute;
  }

  .imagenMuneco {
    display: none;
  }

  .row.tvMobile {
    height: 65vw;
    display: inherit;
    margin-bottom: 16vw;
  }

  .tv {
    position: relative;
    height: 40%;
    width: 87%;
    margin-left: -8vw;
    bottom: -21vw;
  }

  .col.boton2 {
    right: 9vh;
    top: -4vh;
    width: 52vh;
  }

  .footerTexto {
    position: absolute;
    left: -75%;
    margin-top: -31vw;
  }


  .footerTexto p:nth-child(1) {
    font-size: 5vw;
  }

  .footerTexto p:nth-child(2) {
    font-size: 3vw;
  }

  .menuHome {
    position: absolute;
    top: 2vw;
    display: block;
    visibility: visible;

  }

  .menuHome h1 {
    font-family: 'brandon-black', 'arial', sans-serif;
  }


  :host ::ng-deep app-nav-bar .menuHam {
    right: 11%;
  }

  :host ::ng-deep app-footer {
    margin-top: 15px;
  }

  .footerCol.boton2 {
    position: absolute;
    width: 21vh;
    right: 35%;
    top: -2vw;
  }

  .footerCol.boton2 input {
    font-size: 3.8vw;
    background-size: 54vw 14vw;
    background-position: top;
    border-radius: 5vw;
    text-align: -webkit-left;
    width: 43vw;
    background-repeat: no-repeat;
    font-family: 'brandon-black', 'arial', sans-serif;
    color: rgb(255, 255, 255) !important;
    height: 8vw;
    bottom: 36vw;
  }

  .containerImgMune {
    width: 100vw;
    margin-bottom: 5vw;
  }

  .containerTvMobile {
    overflow: hidden;
  }

  .contenedorImg .quienSoy {
    top: 4vw;
    left: 10vw;
  }

  .contenedorImg .nombre {
    font-size: 3.5vw;
    bottom: 2vw;
  }

  .containerImgMune,
  .containerTvMobile {
    height: fit-content;
  }
}
