<div class="row" style="height: 100%;width: 100%;">
  <div class="contenedorPotencial col-md-6">
    <p class="titulo">
      {{'potencial.titulo.1' | translate}} <br> {{'potencial.titulo.2' | translate}}
      <br> {{'potencial.titulo.3' | translate}}
      <span>{{'potencial.titulo.4' | translate}}</span>.
    </p>

    <div class="subtitulos primerSub">
      <p> <span>{{'potencial.subtitulos.1' | translate}} </span>
        {{'potencial.subTextos.1' | translate}} </p>
    </div>

    <div class="subtitulos">
      <p> <span>{{'potencial.subtitulos.2' | translate}} </span>
        {{'potencial.subTextos.2' | translate}} </p>
    </div>

    <div class="subtitulos">
      <p> <span>{{'potencial.subtitulos.3' | translate}}</span>
        {{'potencial.subTextos.3' | translate}} </p>
    </div>

    <div class="subtitulos subFinal">
      <p> {{'potencial.subTextos.4' | translate}} </p>
    </div>

  </div>
  <div class=" col-md-6">
    <div class="computador">
      <div class="compu"></div>
      <img src="../../../assets/potencial/computador.png" alt="">

      <div class="boton1">
        <input name="butonQ" (click)="router('Proyectos')" id="butonQ" class="btn" type="button"
          value="{{'potencial.footer.verMas' | translate}}" (click)="router('Proyectos')">
      </div>


    </div>
    <div class="celular">

      <img src="../../../../assets/potencial/celular.png" alt="">
      <img src="../../../../assets/potencial/parallax-celular.jpg" alt="">


      <img class="Celular-mobile" src="../../../assets/potencial/celular-Mobile.png" alt="">
    </div>
  </div>

</div>

<div style="height: 1px;">

  <div class="row footer">
    <div class="col footerCol boton1">
      <input name="butonQ" id="butonQ" class="btn" type="button" (click)="router('Creador')"
        value="{{'potencial.footer.quienSoy' | translate}}">
    </div>
    <div class="col nombre footerCol">
      <img class="tv" src="../../../assets/potencial/tv.png" alt="">
      <p> {{'potencial.footer.por' | translate}} <span> {{'potencial.footer.nombre' | translate}}</span> </p>
    </div>
    <div class="col footerCol boton2">
      <input name="butonP" id="butonP" class="btn" type="button" (click)="router('Proyectos')"
        value="{{'potencial.footer.proyecto' | translate}}">
    </div>
  </div>
</div>
