.home {
  background: url(../assets/Home/FONDO.png);
  background-size: cover;
  height: 100vh;
  z-index: +6;
  width: 100%;
  box-shadow: -1px -9px 20px 15px black;
  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.especificacion {
  background: url(../assets/especificacion/Fondo1.png);
  background-size: cover;
  height: 100vh;
  z-index: +4;
  width: 100%;

}

.potencial {
  background: url(../assets/potencial/Fondo.png) no-repeat center center;
  background-size: contain;
  height: 75vw;
  z-index: +3;
  width: 100%;
  position: relative;
}
