.home {
  background: url(../assets/componentes/Home/FONDO.png);
  background-size: cover;
  height: 100vh;
  z-index: +6;
  width: 100%;
  box-shadow: -1px -9px 20px 15px black;
  position: relative;
}

.especificacion {
  background: url(../assets/componentes/especificacion/Fondo1.png);
  background-size: cover;
  height: 100vh;
  z-index: +4;
  width: 100%;
  box-shadow: -1px -9px 20px 15px black;
}

.potencial {
  background: url(../assets/componentes/potencial/Fondo.png);
  background-size: cover;
  height: 100%;
  z-index: +3;
  width: 100%;
  position: absolute;
}
