@font-face {
  font-family: brandon-light;
  src: url(../../../../assets/fonts/brandon-grotesque-light.otf) format("opentype");
}

@font-face {
  font-family: brandon-black;
  src: url(../../../../assets/fonts/brandon-grotesque-black.otf) format("opentype");
}

p {
  position: absolute;
  color: white;
  top: 1vw;
  left: 2vw;
  font-family: 'brandon-light', 'arial', sans-serif;
  margin-bottom: 0px;
}

p span {

  font-family: 'brandon-black', 'arial', sans-serif;
  color: white;
}

.IniciarProyectoClass {
  display: block !important;
  visibility: visible !important;
}


.imagenNuclearHumans {
  position: absolute;
  bottom: 0px;
  margin-right: 10vw;
  right: 0px;
  width: 17%;
  margin-bottom: 4vw;
}

.contendorImgNuclear {
  display: none;
  visibility: hidden;
}



@media only screen and (max-width: 425px) {




  .imagenNuclearHumans {
    width: 56%;
    margin-bottom: 0px;
    margin-right: -19px;
  }

  .contendorImgNuclear {

    position: absolute;
    bottom: 5.6vh;
    width: 100%;
    margin-bottom: 0px;
    z-index: +1;
    overflow: hidden;
  }



  .contendorImgNuclear .imagenNuclearHumans {
    width: 56%;
    left: 52%;
    position: relative;
    margin: 0px
  }
}
