.computador img,
.computador div {
  position: absolute;
    width: 57vw;
    top: 11vw;
    left: 36vw;
}

.computador div {
  background: url(../../../assets/potencial/parallax-computador.jpg);
  height: 30vw;
  width: 45vw;
  overflow: hidden;
  left: 42vw;
  top: 12vw;
  border-radius: 11px;
  background-position-y: 0vw;
  background-size: 45vw 44vw;
    background-attachment: fixed;
  /* background-repeat-x: no-repeat; */
  background-position-x: 41.6vw;
  background-repeat-y: repeat;
}

.celular img,
.celular div {
  position: relative;
  width: 13vw;
  top: 22vw;
    left: 78vw;
}

.celular div {
  background: url(../../../assets/potencial/parallax-celular.jpg);
  height: 25vw;
  width: 13vw;
  border-radius: 1.5vw;
  position: absolute;
  background-size: 12vw 38vw;
  background-position-x: 78.5vw;
  background-position-y: 0vw;
  background-attachment: fixed;
  background-repeat-x: no-repeat;
  background-repeat-y: repeat;
  top: 22.6vw;
}
