<div class="navBarHome navDesktop">
  <div class="row">
    <div class="columna1">
      <div>
        <a class="btn  m-2" (click)="router('Home')">
          <h1>Home</h1>
        </a>
      </div>
    </div>
    <div class="columna2">

      <div class="float-right">
        <img class="m-2 cuadro" src="../../../../assets/Home/cuadro.png" alt="">

        <a name="" id="" class="btn  m-2" (click)="router('Proceso')" role="button">
          <h1>{{ 'Home.menu.proceso' | translate }}</h1>
        </a>
        <a name="" id="" class="btn  m-2" (click)="router('Proyectos')" role="button">
          <h1>{{ 'Home.menu.proyectos' | translate }}</h1>
        </a>
        <a name="" id="" class="btn  m-2" (click)="router('Creador')" role="button">
          <h1>{{ 'Home.menu.creador' | translate }}</h1>
        </a>
        <a name="" id="" class="btn btn-dark m-2" (click)="router('Proyectos')" role="button">
          <h1 style="color: white">{{ 'Home.menu.iniciarProyectos' | translate }}</h1>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="div navMobile">

  <div class="row">
    <div class="col-xs-4">

      <div class="contenedorIdiomas">
        <div *ngIf="idiomaEsp">
          <a (click)="cambioIdioma('en')">
            <img class="img-responsive imgLengua" src="../../../../assets/Home/ESP.png" alt="LenguajeEN">
          </a>
        </div>
        <div *ngIf="!idiomaEsp">
          <a (click)="cambioIdioma('es')">
            <img class="img-responsive imgLengua" src="../../../../assets/Home/ENG.png" alt="LenguajeES">
          </a>
        </div>
      </div>


    </div>
    <div class="col-xs-4">

      <div class="div-Titulo">
        <img class="imagenTitulo" src="../../../../assets/Home/title.png" alt="" [ngStyle]="_parallax.efectoParallex()">
        <div class="autorText">
          <span style="display: -webkit-inline-box" [ngStyle]="_parallax.efectoParallex()">
            <h2>{{ 'Home.footer.por' | translate }}</h2>
            <h1> Sebastian Buenaventura E.</h1>
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-4">

      <div class="menuHam">
        <button mat-button [matMenuTriggerFor]="menu" class="butHAm">
          <mat-icon>dehaze</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <h1>{{ 'Home.menu.proceso' | translate }}</h1>
          </button>
          <button mat-menu-item>
            <h1>{{ 'Home.menu.proyectos' | translate }}</h1>
          </button>
          <button mat-menu-item>
            <h1>{{ 'Home.menu.creador' | translate }}</h1>
          </button>
          <button mat-menu-item>
            <h1>{{ 'Home.menu.iniciarProyectos' | translate }}</h1>
          </button>

        </mat-menu>
      </div>


    </div>
  </div>

</div>
